/* Global fix: Apply border-box to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1c1c1c;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Header and Navbar */
header {
  border-bottom: 1px solid whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1c1c1c;
  color: whitesmoke;
}

.navbar-container {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  display: flex;
  font-size: 24px;
  color: whitesmoke;
  text-decoration: none;
}

.navbar-buttons {
  display: flex;
  list-style-type: none;
}

.navbar-buttons li{
  margin-left: 5px;
}

.navbar-button {
  text-decoration: none;
  color: whitesmoke;
  padding: 8px 10px;
  border-radius: 4px;
  transition: 0.5s ease;
}

.navbar-button:hover {
  color: lightskyblue;
  background-color: rgba(114, 145, 166, 0.22);
}

.navbar-button.active {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

header {
  border-bottom: 1px solid whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1c1c1c;
  color: whitesmoke;
}

.navbar-container {
  padding: 0 10px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  display: flex;
  font-size: 24px;
  color: whitesmoke;
  text-decoration: none;
}

.navbar-buttons {
  display: flex;
  list-style-type: none;
}

.navbar-buttons li{
  margin-left: 5px;
}

.navbar-button {
  text-decoration: none;
  color: whitesmoke;
  padding: 8px 10px;
  border-radius: 4px;
  transition: 0.5s ease;
}

.navbar-button:hover {
  color: lightskyblue;
  background-color: rgba(114, 145, 166, 0.22);
}

.navbar-button.active {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 5px 0;
  }

  .navbar-buttons{
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-buttons li{
    width: 100%;
    margin-left: 5px;
    text-align: left;
  }

  .navbar-button {
    display: block;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    transition: 0.3s ease;
  }

  .navbar-button:hover {
    color: lightskyblue;
    background-color: rgba(114, 145, 166, 0.22);
  }

  .navbar-button.active {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
}

/* Body Container excluding Header*/
.container {
  display: flex;
  padding: 0 10px;
  align-items: flex-start;
}

/* Sidebar */
.sidebar {
  position: sticky;
  margin: 15px 10px;
  top:80px;
  width: 200px;
  background-color: #292929;
  border-radius: 8px;
}

.sidebar h2 {
  font-size: 1.2em;
  color: whitesmoke;
  padding: 0 30px 10px 20px;
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: "-";
  padding: 0 5px;
  margin: 10px 15px;
  justify-content: center;
  align-items: center;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #cdcccc;
  padding: 8px 20px;
  display: block;
  font-family: "Rubik", serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}

.sidebar ul li a:hover {
  color: whitesmoke;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

/* Sidebar Collapsible */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* Main Content */
.content {
  width: calc(100% - 200px);
  background: #222;
  padding: 0 20px 10px 20px;
  border-radius: 8px;
  margin: 10px;
}

/* Footer */
footer {
  padding: 10px;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  text-align: center;
  color: whitesmoke;
}

footer p {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

footer a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: lightblue;
  font-weight: bold;
  text-shadow: 0 0 3px;
}
